.detail-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
}

.detail-base {
  width: 400px;
  min-width: 280px;
  /* height: 640px; */
  margin: 0 10px;
  background-color: #282b36;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* animation: slideInUp 1s ease-in-out; */
  position: relative;
  overflow: hidden;
}

.detail-base-avatar {
  width: 100%;
  height: 240px;
  overflow: hidden;
  text-align: center;
}

.detail-base-avatar img {
  height: 100%;
  transform: scale(2);
}

/* .detail-base:nth-child(1) {
  animation-delay: .2s
}

.detail-base:nth-child(2) {
  animation-delay: .4s
}

.detail-base:nth-child(3) {
  animation-delay: .6s
} */

.base-avatar {
  position: absolute;
  top: 190px;
  border: 2px solid #eee;
}

.detail-base-user {
  margin: 60px 0 0;
  padding: 0;
  font-size: 26px;
  color: #eee;
  text-align: center;
}

.detail-base ul {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;

}

.detail-base ul li {
  color: #fff;
  font-size: 16px;
  margin: 4px 0;
  padding: 0;
}

.language {
  margin-top: 10px;
  text-align: center;
}

.language-tag {
  padding: 4px 6px;
  margin: 4px 4px;
  font-size: 14px;
  background-color: #56abfa;
  color: #eee;
  line-height: 1.5;
  border-radius: 3px;
  display: inline-block;
}

.detail-user {
  display: flex;
  flex: 1;
  margin: 0 10px;
  background-color: #282b36;
  border-radius: 3px;
  flex-direction: column;
}


.info-name {
  color: #9a9a9a;
  padding: 0 10px 0 0;
}






.detail-info {
  width: 400px;
  min-width: 280px;
  /* height: 640px; */
  margin: 0 10px;
  background-color: #282b36;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* animation: slideInUp 1s ease-in-out; */
  position: relative;
  overflow: hidden;
  padding: 10px;
}


.followers-user {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail-info__title {
  color: #eee;
  padding: 0;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
}

.followers-user li {
  flex: 0 0 15%;
  color: #eee;
  text-align: center;
  font-size: 16px;
  margin: 4px 0;
  border: 1px solid #dedede;
  border-radius: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.followers-user li img {
  width: 100%;
}





.user-dounts {
  /* display: flex; */
}



@keyframes slideInUp {
  from {
    transform: translate(0, 40px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
  }
}