.search-name {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: searchNameAnimation 1s ease-in-out;
}

.header {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  transform: translate(0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
}

.avatar-img {
  float: right;
}

@keyframes searchNameAnimation {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 40%;
  }
}