.search-name {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: searchNameAnimation .6s ease-in-out;
  transition: all .4s;

}

.search-name.active {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  transform: translate(0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
}

.search-input {
  display: none
}

.search-input.active {
  display: block
}

.avatar-img {
  float: right;
  display: none
}

.avatar-img.active {
  display: block;
}

@keyframes searchNameAnimation {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 40%;
  }
}